.first-one Button {
  margin-top: 170px;
}
.second-one Button {
  margin-top: 125px;
}

.third-one Button {
  margin-top: 125px;
}
.imgs {
  position: relative;
  top: 20px;

  right: 5px;
}
.header-txt {
  position: absolute;
  top: 110%;
  left: 50%;
  z-index: 1;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 500px;
}
.btn {
  position: relative;
  right: 700px;
  bottom: 50px;
}

.side-img {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}
.colors {
  margin-left: 50px;
}

.head {
  margin-top: -400px;
  margin-left: 10px;
}
.img-div {
  position: relative;
}

.inner-image {
  position: absolute;
  top: 40px;
}
.img {
  position: relative;
  top: 10px;
  margin-left: 120px;
}
.imgs {
  position: relative;
  left: 210px;
  top: 270px;
  z-index: 0;
}

.para-text{
  position: absolute;
  top: 150%;
  left: 50%;
  z-index: 1;
}

.below-para-text{
  position: absolute;
  top: 200%;
  left: 50%;
  z-index: 1;
}